<!--<hello name="{{ name }}"></hello>-->

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<h2>Angular Material Table (MatTable)</h2>
<div class="box">
  <div class="halfit">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search columns"
        #input
      />
    </mat-form-field>
  </div>
  <div class="alignit halfit">
    <button
      mat-raised-button
      (click)="
        exporter.exportTable('xlsx', {
          fileName: 'test',
          sheet: 'sheet_name',
          Props: { Author: 'Prism' }
        })
      "
    >
      Excel <span class="material-icons">file_download</span>
    </button>
    <button mat-raised-button (click)="exporter.exportTable('csv')">
      Csv <span class="material-icons">file_download</span>
    </button>
    <button mat-raised-button (click)="exporter.exportTable('json')">
      Json<span class="material-icons">file_download</span>
    </button>
    <button mat-raised-button (click)="exporter.exportTable('txt')">
      Txt<span class="material-icons">file_download</span>
    </button>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table
    matTableExporter
    [dataSource]="dataSource"
    matSort
    #exporter="matTableExporter"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="meatType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Meat Type
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.meatType }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="smokingTemp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Smoking Temp
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.smokingTemp }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="targetInternalTemp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Target Internal Temp
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.targetInternalTemp }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usdaMin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        USDA Minimum
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.usdaMin }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="suggestions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Suggestions
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.suggestions }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<div>
  <mat-paginator
    [length]="5"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
  >
  </mat-paginator>
</div>

